<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ url_for('static',filename='ico/open-book.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='ico/open-book.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static',filename='css/metro-all.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/home.css') }}" rel="stylesheet">
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>

<body>
    <div class="fluid-container">
        <div class="navcontent">
            <div class="csidenav">
                <div class="pt-4 pb-4 pl-4 colorBrand">
                    <span class="anicon pos-absolute mif-open-book ani-float"></span>
                    <div class="cbrand">
                        <span>Question Generator</span>
                    </div>
                </div>
                <div class="brand-separator"></div>
                <ul class="sidebar-menu">
                    <li>
                        <a href="{{ url_for('about') }}">
                            <h1><span class="mif-notification"></span></h1>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('demo') }}">
                            <h1><span class="mif-cogs"></span></h1>
                        </a>
                    </li>
                    <li class="footer-note">
                        <span class="footer-title"><span class="mif-creative-commons"></span> Web Technology - II<br/>PES
                            University - 2018</span>
                    </li>
                </ul>
            </div>
            <div class="admin-content">
                <div class="fluid-container pl-6-md pr-4-md pt-4 mt-4 pb-8 mb-8">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/metro.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/featurate.js') }}"></script>
</body>

</html>