{% extends "base.html" %}
{% block content %}
<body>
<div data-role="appbar" data-expand-point="true">
        <div class="brand no-hover">
            <span class="ancon mif-open-book"></span>
            <span style="font-weight:100;font-size:32px;">Welcome {{ name }}</span>
        </div>
        
        <a class="clogout" href="{{ url_for('login') }}"><button class="button primary drop-shadow rounded app-bar-item" role="button">Logout</button></a>
    
    </div>
    <div class="fluid-container mt-6 p-15">
    <div class="m-4 p-4">
        {# <div class="border bd-black mb-4 w-100">
            <select data-role="select">
                {% for ids in users %}
                <option value="{{ids['feedback_id']}}">{{ids["feedback_id"]}}</option>
                {% endfor %} 
            </select>
            <button class="button outline alert" id="del">Delete</button>
        </div> #}
        {% for user in users %}
            <div class="border bd-black mt-4 mb-4">
                <ul data-role="listview" disabled>
                    <li>{{user["feedback_id"]}}</li>
                    <li>{{user["name"]}}</li>
                    <li>{{user["email"]}}</li>
                    <li>{{user["data_in_para"]}}</li>
                    <li>{{user["ques_gen"]}}</li>
                    <li>{{user["feedback"]}}</li>
                    <li>{{user["session"]}}</li>
                </ul>
            </div>
        {% endfor %}       
    </div>
</div>
</body>
{% endblock %}