{% extends "base.html" %}

{% block content %}

<body class="h-vh-100 bg-black wrapf" id="404wrap">
    <div class="login-form bg-white p-6 mx-auto border bd-default win-shadow" data-clear-invalid="2000">
        <span class="mif-vpn-lock mif-4x place-right mt-3-minus"></span>
        <h2 class="text-light">Admin Login</h2>
        <hr class="thin mt-4 mb-4 bg-white">
        <div class="form-group">
            <input type="password" data-role="input" data-prepend="<span class='mif-lock'></span>"
                placeholder="Passcode Please" />
        </div>
        <div class="form-group mt-10">
            <a href="{{ url_for('index') }}"><input type="submit" class="button success" value="Submit"></button></a>
        </div>
    </div>
</body>
{% endblock %}